body {
  background: #0f2027;
  font-family: Arial;
  color: white;
  text-align: center;
}

.card {
  background: #111;
  padding: 20px;
  margin: 80px auto;
  width: 300px;
  border-radius: 12px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c853;
  color: white;
}

a {
  color: #00e5ff;
  display: block;
  margin-top: 10px;
}
