body {
  background:#0d1117;
  color:#fff;
  font-family: system-ui;
}

.container {
  max-width:360px;
  margin:60px auto;
  padding:20px;
}

input {
  width:100%;
  padding:12px;
  margin:8px 0;
  border-radius:8px;
  border:none;
}

button, .btn {
  display:block;
  width:100%;
  text-align:center;
  background:#2389ff;
  color:#fff;
  padding:12px;
  margin:10px 0;
  border-radius:10px;
  text-decoration:none;
  border:none;
}

.secondary {
  background:#444;
}
